# **Project Name**    - Retail Sales Predication 

##### **Project Type**    - Regression
##### **Contribution**    - Individual/Team
##### **Team Member 1 -** Hariom Gupta ( Team Leader )
##### **Team Member 2 -** Pallavi s
##### **Team Member 3 -** Aditya Singh
##### **Team Member 4 -** Vishwajeet Salunkhe
##### **Team Member 5 -** Ritesh Verma

# **Project Summary -**

This Roseman Stores dataset is current as of right now. Upon analysing this issue, we find that Roseman problem is a regression issue, and our main objective is to forecast Roseman problem's sales figures. These are the topics we work on in this notebook:

applying exploratory data analysis to the dataset analysis. Examine trends and seasonality in the Roseman dataset by using exponential moving averages. Utilising the subsequent prediction analysis, analyse regression analysis A. Analysis of Linear Regression B. Lasso and Ridge Regression, or Elastic Regression. Random Forest Regression (C). Xgboost and d.adaboost).

Using the above algorithm, we find that Xgboost has an accuracy of 98%.

# **Problem Statement**

**Write Problem Statement Here.**

Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.
You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.

# **Data Description**

**Rossmann Stores Data.csv - historical data including Sales**

**store.csv - supplemental information about the store**

Data fields Most of the fields are self-explanatory. The following are descriptions for those that aren't.

**Id** - an Id that represents a (Store, Date) duple within the test set

**Store** - a unique Id for each store

**Sales** - the turnover for any given day (this is what you are predicting)

**Customers** - the number of customers on a given day

**Open** - an indicator for whether the store was open: 0 = closed, 1 = open
StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None

**SchoolHoliday** - indicates if the (Store, Date) was affected by the closure of public schools

**StoreType** - differentiates between 4 different store models: a, b, c, d

**Assortment** - describes an assortment level: a = basic, b = extra, c = extended

**CompetitionDistance** - distance in meters to the nearest competitor store

**CompetitionOpenSince[Month/Year]**- gives the approximate year and month of the time the nearest competitor was opened

**Promo** - indicates whether a store is running a promo on that day

**Promo2** - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating

**Promo2Since[Year/Week]** - describes the year and calendar week when the store started participating in Promo2

**PromoInterval** - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

# ***Let's Begin !***
### Import Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
from datetime import datetime
import seaborn as sns
import plotly.express as px
import ast
import math
import random
from scipy.stats import skew 
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import  Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import pickle

### Dataset Loading

In [16]:
Dataset = "/Users/hariomgupta/Documents/GitHub/Retail-Sales-Predication/Rossmann Stores Data.csv"
sales_df =pd.read_csv(Dataset)
Store ="/Users/hariomgupta/Documents/GitHub/Retail-Sales-Predication/store.csv"
Store_df =pd.read_csv(Store)

/var/folders/rd/865zm2ss20s5_zg1t3c8f2h40000gn/T/ipykernel_71077/2590977194.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df =pd.read_csv(Dataset)

### Dataset First View

In [19]:
# Dataset First Look
sales_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [20]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [21]:
sales_df.tail()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [22]:
sales_df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00

In [23]:
sales_df['StateHoliday'].value_counts()

StateHoliday
0    855087
0    131072
a     20260
b      6690
c      4100
Name: count, dtype: int64

In [24]:
sales_df['Date'].unique()

array(['2015-07-31', '2015-07-30', '2015-07-29', '2015-07-28',
       '2015-07-27', '2015-07-26', '2015-07-25', '2015-07-24',
       '2015-07-23', '2015-07-22', '2015-07-21', '2015-07-20',
       '2015-07-19', '2015-07-18', '2015-07-17', '2015-07-16',
       '2015-07-15', '2015-07-14', '2015-07-13', '2015-07-12',
       '2015-07-11', '2015-07-10', '2015-07-09', '2015-07-08',
       '2015-07-07', '2015-07-06', '2015-07-05', '2015-07-04',
       '2015-07-03', '2015-07-02', '2015-07-01', '2015-06-30',
       '2015-06-29', '2015-06-28', '2015-06-27', '2015-06-26',
       '2015-06-25', '2015-06-24', '2015-06-23', '2015-06-22',
       '2015-06-21', '2015-06-20', '2015-06-19', '2015-06-18',
       '2015-06-17', '2015-06-16', '2015-06-15', '2015-06-14',
       '2015-06-13', '2015-06-12', '2015-06-11', '2015-06-10',
       '2015-06-09', '2015-06-08', '2015-06-07', '2015-06-06',
       '2015-06-05', '2015-06-04', '2015-06-03', '2015-06-02',
       '2015-06-01', '2015-05-31', '2015-05-30', '2015-05-29',
       '2015-05-28', '2015-05-27', '2015-05-26', '2015-05-25',
       '2015-05-24', '2015-05-23', '2015-05-22', '2015-05-21',
       '2015-05-20', '2015-05-19', '2015-05-18', '2015-05-17',
       '2015-05-16', '2015-05-15', '2015-05-14', '2015-05-13',
       '2015-05-12', '2015-05-11', '2015-05-10', '2015-05-09',
       '2015-05-08', '2015-05-07', '2015-05-06', '2015-05-05',
       '2015-05-04', '2015-05-03', '2015-05-02', '2015-05-01',
       '2015-04-30', '2015-04-29', '2015-04-28', '2015-04-27',
       '2015-04-26', '2015-04-25', '2015-04-24', '2015-04-23',
       '2015-04-22', '2015-04-21', '2015-04-20', '2015-04-19',
       '2015-04-18', '2015-04-17', '2015-04-16', '2015-04-15',
       '2015-04-14', '2015-04-13', '2015-04-12', '2015-04-11',
       '2015-04-10', '2015-04-09', '2015-04-08', '2015-04-07',
       '2015-04-06', '2015-04-05', '2015-04-04', '2015-04-03',
       '2015-04-02', '2015-04-01', '2015-03-31', '2015-03-30',
       '2015-03-29', '2015-03-28', '2015-03-27', '2015-03-26',
       '2015-03-25', '2015-03-24', '2015-03-23', '2015-03-22',
       '2015-03-21', '2015-03-20', '2015-03-19', '2015-03-18',
       '2015-03-17', '2015-03-16', '2015-03-15', '2015-03-14',
       '2015-03-13', '2015-03-12', '2015-03-11', '2015-03-10',
       '2015-03-09', '2015-03-08', '2015-03-07', '2015-03-06',
       '2015-03-05', '2015-03-04', '2015-03-03', '2015-03-02',
       '2015-03-01', '2015-02-28', '2015-02-27', '2015-02-26',
       '2015-02-25', '2015-02-24', '2015-02-23', '2015-02-22',
       '2015-02-21', '2015-02-20', '2015-02-19', '2015-02-18',
       '2015-02-17', '2015-02-16', '2015-02-15', '2015-02-14',
       '2015-02-13', '2015-02-12', '2015-02-11', '2015-02-10',
       '2015-02-09', '2015-02-08', '2015-02-07', '2015-02-06',
       '2015-02-05', '2015-02-04', '2015-02-03', '2015-02-02',
       '2015-02-01', '2015-01-31', '2015-01-30', '2015-01-29',
       '2015-01-28', '2015-01-27', '2015-01-26', '2015-01-25',
       '2015-01-24', '2015-01-23', '2015-01-22', '2015-01-21',
       '2015-01-20', '2015-01-19', '2015-01-18', '2015-01-17',
       '2015-01-16', '2015-01-15', '2015-01-14', '2015-01-13',
       '2015-01-12', '2015-01-11', '2015-01-10', '2015-01-09',
       '2015-01-08', '2015-01-07', '2015-01-06', '2015-01-05',
       '2015-01-04', '2015-01-03', '2015-01-02', '2015-01-01',
       '2014-12-31', '2014-12-30', '2014-12-29', '2014-12-28',
       '2014-12-27', '2014-12-26', '2014-12-25', '2014-12-24',
       '2014-12-23', '2014-12-22', '2014-12-21', '2014-12-20',
       '2014-12-19', '2014-12-18', '2014-12-17', '2014-12-16',
       '2014-12-15', '2014-12-14', '2014-12-13', '2014-12-12',
       '2014-12-11', '2014-12-10', '2014-12-09', '2014-12-08',
       '2014-12-07', '2014-12-06', '2014-12-05', '2014-12-04',
       '2014-12-03', '2014-12-02', '2014-12-01', '2014-11-30',
       '2014-11-29', '2014-11-28', '2014-11-27', '2014-11-26',
       '2014-11-25', '2014-11-24', '2014-11-23', '2014-11-22',
       '2014-11-21', '2014-11-20', '2014-11-19', '2014-11-18',
       '2014-11-17', '2014-11-16', '2014-11-15', '2014-11-14',
       '2014-11-13', '2014-11-12', '2014-11-11', '2014-11-10',
       '2014-11-09', '2014-11-08', '2014-11-07', '2014-11-06',
       '2014-11-05', '2014-11-04', '2014-11-03', '2014-11-02',
       '2014-11-01', '2014-10-31', '2014-10-30', '2014-10-29',
       '2014-10-28', '2014-10-27', '2014-10-26', '2014-10-25',
       '2014-10-24', '2014-10-23', '2014-10-22', '2014-10-21',
       '2014-10-20', '2014-10-19', '2014-10-18', '2014-10-17',
       '2014-10-16', '2014-10-15', '2014-10-14', '2014-10-13',
       '2014-10-12', '2014-10-11', '2014-10-10', '2014-10-09',
       '2014-10-08', '2014-10-07', '2014-10-06', '2014-10-05',
       '2014-10-04', '2014-10-03', '2014-10-02', '2014-10-01',
       '2014-09-30', '2014-09-29', '2014-09-28', '2014-09-27',
       '2014-09-26', '2014-09-25', '2014-09-24', '2014-09-23',
       '2014-09-22', '2014-09-21', '2014-09-20', '2014-09-19',
       '2014-09-18', '2014-09-17', '2014-09-16', '2014-09-15',
       '2014-09-14', '2014-09-13', '2014-09-12', '2014-09-11',
       '2014-09-10', '2014-09-09', '2014-09-08', '2014-09-07',
       '2014-09-06', '2014-09-05', '2014-09-04', '2014-09-03',
       '2014-09-02', '2014-09-01', '2014-08-31', '2014-08-30',
       '2014-08-29', '2014-08-28', '2014-08-27', '2014-08-26',
       '2014-08-25', '2014-08-24', '2014-08-23', '2014-08-22',
       '2014-08-21', '2014-08-20', '2014-08-19', '2014-08-18',
       '2014-08-17', '2014-08-16', '2014-08-15', '2014-08-14',
       '2014-08-13', '2014-08-12', '2014-08-11', '2014-08-10',
       '2014-08-09', '2014-08-08', '2014-08-07', '2014-08-06',
       '2014-08-05', '2014-08-04', '2014-08-03', '2014-08-02',
       '2014-08-01', '2014-07-31', '2014-07-30', '2014-07-29',
       '2014-07-28', '2014-07-27', '2014-07-26', '2014-07-25',
       '2014-07-24', '2014-07-23', '2014-07-22', '2014-07-21',
       '2014-07-20', '2014-07-19', '2014-07-18', '2014-07-17',
       '2014-07-16', '2014-07-15', '2014-07-14', '2014-07-13',
       '2014-07-12', '2014-07-11', '2014-07-10', '2014-07-09',
       '2014-07-08', '2014-07-07', '2014-07-06', '2014-07-05',
       '2014-07-04', '2014-07-03', '2014-07-02', '2014-07-01',
       '2014-06-30', '2014-06-29', '2014-06-28', '2014-06-27',
       '2014-06-26', '2014-06-25', '2014-06-24', '2014-06-23',
       '2014-06-22', '2014-06-21', '2014-06-20', '2014-06-19',
       '2014-06-18', '2014-06-17', '2014-06-16', '2014-06-15',
       '2014-06-14', '2014-06-13', '2014-06-12', '2014-06-11',
       '2014-06-10', '2014-06-09', '2014-06-08', '2014-06-07',
       '2014-06-06', '2014-06-05', '2014-06-04', '2014-06-03',
       '2014-06-02', '2014-06-01', '2014-05-31', '2014-05-30',
       '2014-05-29', '2014-05-28', '2014-05-27', '2014-05-26',
       '2014-05-25', '2014-05-24', '2014-05-23', '2014-05-22',
       '2014-05-21', '2014-05-20', '2014-05-19', '2014-05-18',
       '2014-05-17', '2014-05-16', '2014-05-15', '2014-05-14',
       '2014-05-13', '2014-05-12', '2014-05-11', '2014-05-10',
       '2014-05-09', '2014-05-08', '2014-05-07', '2014-05-06',
       '2014-05-05', '2014-05-04', '2014-05-03', '2014-05-02',
       '2014-05-01', '2014-04-30', '2014-04-29', '2014-04-28',
       '2014-04-27', '2014-04-26', '2014-04-25', '2014-04-24',
       '2014-04-23', '2014-04-22', '2014-04-21', '2014-04-20',
       '2014-04-19', '2014-04-18', '2014-04-17', '2014-04-16',
       '2014-04-15', '2014-04-14', '2014-04-13', '2014-04-12',
       '2014-04-11', '2014-04-10', '2014-04-09', '2014-04-08',
       '2014-04-07', '2014-04-06', '2014-04-05', '2014-04-04',
       '2014-04-03', '2014-04-02', '2014-04-01', '2014-03-31',
       '2014-03-30', '2014-03-29', '2014-03-28', '2014-03-27',
       '2014-03-26', '2014-03-25', '2014-03-24', '2014-03-23',
       '2014-03-22', '2014-03-21', '2014-03-20', '2014-03-19',
       '2014-03-18', '2014-03-17', '2014-03-16', '2014-03-15',
       '2014-03-14', '2014-03-13', '2014-03-12', '2014-03-11',
       '2014-03-10', '2014-03-09', '2014-03-08', '2014-03-07',
       '2014-03-06', '2014-03-05', '2014-03-04', '2014-03-03',
       '2014-03-02', '2014-03-01', '2014-02-28', '2014-02-27',
       '2014-02-26', '2014-02-25', '2014-02-24', '2014-02-23',
       '2014-02-22', '2014-02-21', '2014-02-20', '2014-02-19',
       '2014-02-18', '2014-02-17', '2014-02-16', '2014-02-15',
       '2014-02-14', '2014-02-13', '2014-02-12', '2014-02-11',
       '2014-02-10', '2014-02-09', '2014-02-08', '2014-02-07',
       '2014-02-06', '2014-02-05', '2014-02-04', '2014-02-03',
       '2014-02-02', '2014-02-01', '2014-01-31', '2014-01-30',
       '2014-01-29', '2014-01-28', '2014-01-27', '2014-01-26',
       '2014-01-25', '2014-01-24', '2014-01-23', '2014-01-22',
       '2014-01-21', '2014-01-20', '2014-01-19', '2014-01-18',
       '2014-01-17', '2014-01-16', '2014-01-15', '2014-01-14',
       '2014-01-13', '2014-01-12', '2014-01-11', '2014-01-10',
       '2014-01-09', '2014-01-08', '2014-01-07', '2014-01-06',
       '2014-01-05', '2014-01-04', '2014-01-03', '2014-01-02',
       '2014-01-01', '2013-12-31', '2013-12-30', '2013-12-29',
       '2013-12-28', '2013-12-27', '2013-12-26', '2013-12-25',
       '2013-12-24', '2013-12-23', '2013-12-22', '2013-12-21',
       '2013-12-20', '2013-12-19', '2013-12-18', '2013-12-17',
       '2013-12-16', '2013-12-15', '2013-12-14', '2013-12-13',
       '2013-12-12', '2013-12-11', '2013-12-10', '2013-12-09',
       '2013-12-08', '2013-12-07', '2013-12-06', '2013-12-05',
       '2013-12-04', '2013-12-03', '2013-12-02', '2013-12-01',
       '2013-11-30', '2013-11-29', '2013-11-28', '2013-11-27',
       '2013-11-26', '2013-11-25', '2013-11-24', '2013-11-23',
       '2013-11-22', '2013-11-21', '2013-11-20', '2013-11-19',
       '2013-11-18', '2013-11-17', '2013-11-16', '2013-11-15',
       '2013-11-14', '2013-11-13', '2013-11-12', '2013-11-11',
       '2013-11-10', '2013-11-09', '2013-11-08', '2013-11-07',
       '2013-11-06', '2013-11-05', '2013-11-04', '2013-11-03',
       '2013-11-02', '2013-11-01', '2013-10-31', '2013-10-30',
       '2013-10-29', '2013-10-28', '2013-10-27', '2013-10-26',
       '2013-10-25', '2013-10-24', '2013-10-23', '2013-10-22',
       '2013-10-21', '2013-10-20', '2013-10-19', '2013-10-18',
       '2013-10-17', '2013-10-16', '2013-10-15', '2013-10-14',
       '2013-10-13', '2013-10-12', '2013-10-11', '2013-10-10',
       '2013-10-09', '2013-10-08', '2013-10-07', '2013-10-06',
       '2013-10-05', '2013-10-04', '2013-10-03', '2013-10-02',
       '2013-10-01', '2013-09-30', '2013-09-29', '2013-09-28',
       '2013-09-27', '2013-09-26', '2013-09-25', '2013-09-24',
       '2013-09-23', '2013-09-22', '2013-09-21', '2013-09-20',
       '2013-09-19', '2013-09-18', '2013-09-17', '2013-09-16',
       '2013-09-15', '2013-09-14', '2013-09-13', '2013-09-12',
       '2013-09-11', '2013-09-10', '2013-09-09', '2013-09-08',
       '2013-09-07', '2013-09-06', '2013-09-05', '2013-09-04',
       '2013-09-03', '2013-09-02', '2013-09-01', '2013-08-31',
       '2013-08-30', '2013-08-29', '2013-08-28', '2013-08-27',
       '2013-08-26', '2013-08-25', '2013-08-24', '2013-08-23',
       '2013-08-22', '2013-08-21', '2013-08-20', '2013-08-19',
       '2013-08-18', '2013-08-17', '2013-08-16', '2013-08-15',
       '2013-08-14', '2013-08-13', '2013-08-12', '2013-08-11',
       '2013-08-10', '2013-08-09', '2013-08-08', '2013-08-07',
       '2013-08-06', '2013-08-05', '2013-08-04', '2013-08-03',
       '2013-08-02', '2013-08-01', '2013-07-31', '2013-07-30',
       '2013-07-29', '2013-07-28', '2013-07-27', '2013-07-26',
       '2013-07-25', '2013-07-24', '2013-07-23', '2013-07-22',
       '2013-07-21', '2013-07-20', '2013-07-19', '2013-07-18',
       '2013-07-17', '2013-07-16', '2013-07-15', '2013-07-14',
       '2013-07-13', '2013-07-12', '2013-07-11', '2013-07-10',
       '2013-07-09', '2013-07-08', '2013-07-07', '2013-07-06',
       '2013-07-05', '2013-07-04', '2013-07-03', '2013-07-02',
       '2013-07-01', '2013-06-30', '2013-06-29', '2013-06-28',
       '2013-06-27', '2013-06-26', '2013-06-25', '2013-06-24',
       '2013-06-23', '2013-06-22', '2013-06-21', '2013-06-20',
       '2013-06-19', '2013-06-18', '2013-06-17', '2013-06-16',
       '2013-06-15', '2013-06-14', '2013-06-13', '2013-06-12',
       '2013-06-11', '2013-06-10', '2013-06-09', '2013-06-08',
       '2013-06-07', '2013-06-06', '2013-06-05', '2013-06-04',
       '2013-06-03', '2013-06-02', '2013-06-01', '2013-05-31',
       '2013-05-30', '2013-05-29', '2013-05-28', '2013-05-27',
       '2013-05-26', '2013-05-25', '2013-05-24', '2013-05-23',
       '2013-05-22', '2013-05-21', '2013-05-20', '2013-05-19',
       '2013-05-18', '2013-05-17', '2013-05-16', '2013-05-15',
       '2013-05-14', '2013-05-13', '2013-05-12', '2013-05-11',
       '2013-05-10', '2013-05-09', '2013-05-08', '2013-05-07',
       '2013-05-06', '2013-05-05', '2013-05-04', '2013-05-03',
       '2013-05-02', '2013-05-01', '2013-04-30', '2013-04-29',
       '2013-04-28', '2013-04-27', '2013-04-26', '2013-04-25',
       '2013-04-24', '2013-04-23', '2013-04-22', '2013-04-21',
       '2013-04-20', '2013-04-19', '2013-04-18', '2013-04-17',
       '2013-04-16', '2013-04-15', '2013-04-14', '2013-04-13',
       '2013-04-12', '2013-04-11', '2013-04-10', '2013-04-09',
       '2013-04-08', '2013-04-07', '2013-04-06', '2013-04-05',
       '2013-04-04', '2013-04-03', '2013-04-02', '2013-04-01',
       '2013-03-31', '2013-03-30', '2013-03-29', '2013-03-28',
       '2013-03-27', '2013-03-26', '2013-03-25', '2013-03-24',
       '2013-03-23', '2013-03-22', '2013-03-21', '2013-03-20',
       '2013-03-19', '2013-03-18', '2013-03-17', '2013-03-16',
       '2013-03-15', '2013-03-14', '2013-03-13', '2013-03-12',
       '2013-03-11', '2013-03-10', '2013-03-09', '2013-03-08',
       '2013-03-07', '2013-03-06', '2013-03-05', '2013-03-04',
       '2013-03-03', '2013-03-02', '2013-03-01', '2013-02-28',
       '2013-02-27', '2013-02-26', '2013-02-25', '2013-02-24',
       '2013-02-23', '2013-02-22', '2013-02-21', '2013-02-20',
       '2013-02-19', '2013-02-18', '2013-02-17', '2013-02-16',
       '2013-02-15', '2013-02-14', '2013-02-13', '2013-02-12',
       '2013-02-11', '2013-02-10', '2013-02-09', '2013-02-08',
       '2013-02-07', '2013-02-06', '2013-02-05', '2013-02-04',
       '2013-02-03', '2013-02-02', '2013-02-01', '2013-01-31',
       '2013-01-30', '2013-01-29', '2013-01-28', '2013-01-27',
       '2013-01-26', '2013-01-25', '2013-01-24', '2013-01-23',
       '2013-01-22', '2013-01-21', '2013-01-20', '2013-01-19',
       '2013-01-18', '2013-01-17', '2013-01-16', '2013-01-15',
       '2013-01-14', '2013-01-13', '2013-01-12', '2013-01-11',
       '2013-01-10', '2013-01-09', '2013-01-08', '2013-01-07',
       '2013-01-06', '2013-01-05', '2013-01-04', '2013-01-03',
       '2013-01-02', '2013-01-01'], dtype=object)

In [25]:
sales_df.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [26]:
Store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

# **3-Data Wrangling**

#### Missing Values/Null Values

In [27]:
sales_df['SchoolHoliday'].unique()

array([1, 0])

In [28]:
Store_df.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [32]:
Store_df.nunique()

Store                        1115
StoreType                       4
Assortment                      3
CompetitionDistance           654
CompetitionOpenSinceMonth      12
CompetitionOpenSinceYear       23
Promo2                          2
Promo2SinceWeek                24
Promo2SinceYear                 7
PromoInterval                   3
dtype: int64

In [33]:
Store_df['CompetitionDistance'] = Store_df['CompetitionDistance'].fillna(0)
Store_df['CompetitionOpenSinceMonth'] = Store_df['CompetitionOpenSinceMonth'].fillna(0)
Store_df['CompetitionOpenSinceYear'] = Store_df['CompetitionOpenSinceYear'] .fillna(0)
Store_df['Promo2SinceWeek'] = Store_df['Promo2SinceWeek'].fillna(0)
Store_df['Promo2SinceYear'] = Store_df['Promo2SinceYear'].fillna(0)
Store_df['PromoInterval'] = Store_df['PromoInterval'].fillna(0)

In [34]:
Store_df.isna().sum()

Store                        0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [35]:
Store_df

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,0.0,0.0,0
4,5,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,0.0,0.0,0
1112,1113,a,c,9260.0,0.0,0.0,0,0.0,0.0,0
1113,1114,a,c,870.0,0.0,0.0,0,0.0,0.0,0
1114,1115,d,c,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [36]:
final_1 = pd.merge(sales_df,Store_df, on='Store', how='left')

In [37]:
final_1

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,0.0,0.0,0
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,0.0,0.0,0
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,c,9260.0,0.0,0.0,0,0.0,0.0,0
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,c,870.0,0.0,0.0,0,0.0,0.0,0
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [45]:
#Change data types object to int
final_1.loc[final_1['StateHoliday'] == '0','StateHoliday'] = 0
final_1.loc[final_1['StateHoliday'] == 'a','StateHoliday'] = 1
final_1.loc[final_1['StateHoliday'] == 'b','StateHoliday'] = 2
final_1.loc[final_1['StateHoliday'] == 'c','StateHoliday'] = 3

# store the value with same column name stateholiday with function astype

final_1['StateHoliday'] = final_1['StateHoliday'].astype(int, copy = False)

In [47]:
#Change data types object to int
final_1.loc[final_1['Assortment'] == 'a','Assortment'] = 0
final_1.loc[final_1['Assortment'] == 'b','Assortment'] = 1
final_1.loc[final_1['Assortment'] == 'c','Assortment'] = 2


# store the value with same column name Assortment with function astype

final_1['Assortment'] = final_1['Assortment'].astype(int, copy = False)

In [52]:
# change Data Types object into int 
final_1.loc[final_1['StoreType'] == 'a', 'StoreType'] = 0
final_1.loc[final_1['StoreType'] == 'b', 'StoreType'] = 1
final_1.loc[final_1['StoreType'] == 'c', 'StoreType'] = 2
final_1.loc[final_1['StoreType'] == 'd', 'StoreType'] = 3
#store the value with same column name i.e Assortment with function astype
final_1['StoreType'] = final_1['StoreType'].astype(int, copy=False)

In [53]:
print(final_1[['StateHoliday', 'Assortment', 'StoreType']].nunique())

StateHoliday    4
Assortment      2
StoreType       4
dtype: int64

In [54]:
final_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  int64
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  int64
 10  Assortment                 1017209 non-null  int64
 11  CompetitionDistance        1017209 non-null  float64
 12  CompetitionOpenSinceMonth  1017209 non-null  float64
 13  CompetitionOpenSinceYear   1017209 non-null  float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            1017209 non-null  float64
 16  Promo2SinceYear            1017209 non-null  float64
 17  PromoInterval              1017209 non-null  object
dtypes: float64(5), int64(11), object(2)
memory usage: 139.7+ MB

In [55]:
final_1['Sales'].value_counts()

Sales
0        172871
5674        215
5558        197
5483        196
6214        195
          ...
23806         1
24183         1
20651         1
25083         1
23303         1
Name: count, Length: 21734, dtype: int64